@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;700&display=swap");

/* header start */
#main-screen {
  background: url(../images/main-bg.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  box-shadow: inset 0 -46px 62px black;
}

.navbar-dark {
  background: rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand {
  font-family: Open-Sans;
  font-weight: bold;
  font-size: 24px;
  font: weight 700;
}
.nav-item {
  font-family: Open-Sans;
  font-weight: bold;
  font-size: 12px;
  font: weight 700;
}

.nav-link {
  color: white;
}

#main-screen .highlight-text {
  margin-top: 200px;
}

.header-tittle-info {
  font-size: 72px;
  font-weight: 700;
}

.mini-info {
  font-size: 24px;
  font-weight: 400;
}

.btn-light {
  background-color: #ffb548;
  padding: 15px 60px;
  font-family: Open-Sans;
  font-weight: 700;
  align-items: center;
  font-size: 16px;
  --bs-btn-border-color: #ffb548;
}

.header-scroll-toggle {
  color: white;
  font-family: Open-Sans;
  font-weight: 700;
  font-size: 12px;
  margin-top: 250px;
  margin-bottom: 0;
}
/* header end */

/* about + gallery start */
#about-gallery {
  background: url(../images/the-games-bg.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  box-shadow: inset 0 -48px 62px black, inset 0 48px 62px black;
}

.gallery-mini-info {
  font-size: 24px;
  font: weight 400px;
  line-height: 28px;
  letter-spacing: 2px;
}

.gallery-info {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
}

.gallery-content {
  padding-top: 13%;
}

.carousel-control-next {
  right: -90px;
}

.carousel-control-prev {
  left: -90px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none !important;
}

.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid 1px white;
  background-color: transparent;
}

button.active {
  background-color: #fff !important;
}

a {
  color: inherit;
  text-decoration: none;
}
/* about + gallery end */

/* Features Section Start */

#features {
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%), url(../images/features.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

.features-content {
  padding-top: 13%;
  justify-content: end;
}
.features-ask {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.features-main {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
}

.f-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  letter-spacing: 2px;
  color: rgba(255, 181, 72, 1);
}
/* Features Section end */

/* Requirements Start */
#requirements {
  background: radial-gradient(40% 60% at 65% 47%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%), url(../images/requirements.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

.req-top {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: white;
}
.req-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
}

.requirements-info {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: rgba(255, 181, 72, 1);
}

.requirements-info-content {
  color: white;
}
/* requirements end */

/* quotes start */

#quotes {
  background: radial-gradient(72% 40% at 24% 47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%), url(../images/top-score-bg.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

.quotes-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
}

.quotes-sub {
  font-family: Open-Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.highscore {
  width: 30rem;
  /* background-color: black; */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.highscore img {
  border-radius: 50%;
  width: 70px;
}

.quotes-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.quotes-job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b2b2b2 !important;
}

.quotes-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.quotes-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #b2b2b2 !important;
}

/* quotes end */

/* newsletter start */
#newsletter {
  background: url(../images/newsletter.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

.new-ask {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.news-main {
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
}

.news-text {
  font-family: Open-Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 15px 60px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgba(255, 255, 255, 0.08);
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.08);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.copyright {
  font-family: Open-Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: white;
}

.privacy-policy {
  font-family: Open-Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  color: white;
}
/* news letter end */

/* Game Section Start*/

#game-background {
  background-color: #9c835f;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
}

/* Header Start */

.header-content {
  padding-top: 27px;
}

#back h1 {
  color: #724c21;
  font-size: 72px;
  text-align: end;
}

#logo {
  margin-top: 10px;
  text-align: start;
}

#title-header h2 {
  font-style: normal;
  font-family: "Open Sans";
  margin-top: 25px;
  color: #f9b23d;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: start;
  margin-left: -30px;
}
/* Header End */

/* Main Game Start */

.main-content {
  margin-top: 40px;
}

.c-centered {
  height: 200px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-player:hover {
  background: #c4c4c4;
  border-radius: 30px;
}

.playerrps h3 {
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.1em;
}

.playerrps button img {
  max-height: 100%;
  max-width: 80%;
}

.versus {
  width: 100%;
}

.comprps img {
  max-height: 100%;
  max-width: 70%;
}

.text-vs h1 {
  color: #bd0000;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  letter-spacing: 0.1em;
  text-align: center;
}

.comprps h3 {
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.1em;
}
/* Main Game End */

/* Refresh */

.refresh button img {
  height: 70px;
  width: 70px;
}

/* Game Section End */

/* login Section Start */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

